= render 'prototypes/settings/back'

.text-uppercase
  %ul.nav.nav-pills.nav-stacked
    %li 
      =link_to '#' do 
        %strong My Account

%div{style: "padding: 0 15px;"}
  .form-group
    = label_tag :email, "Email", class: "control-label"
    = text_field_tag :email, "email@example.com", class: "form-control"
  .form-group
    = label_tag :password, "Password", class: "control-label"
    = password_field_tag :password, "password", class: "form-control"
  .form-group
    = label_tag :password, "Confirm Password", class: "control-label"
    = password_field_tag :password, "password", class: "form-control"
  = render 'prototypes/settings/buttons'