.text-uppercase
  = prototype_partial_link icon('long-arrow-left', 'Back'), "edit_navigation", ".submenu", class: "nav-link"
%div{style: "padding: 0 15px;"}
  %h4.nav-heading Link Settings
  .form-group
    = label_tag :link_text, "Link Text", class: "control-label"
    = text_field_tag :link_text, "Contact", class: "form-control"
  .form-group
    = label_tag :link_url, "Link URL", class: "control-label"
    = text_field_tag :link_url, "http://www.clarendonhill.com/contact", class: "form-control"
  .checkbox
    %label
      = check_box_tag :new_tab
      Open in a New Tab
  .btn-group{style: "width: 100%;"}
    = prototype_partial_link "Save", "edit_navigation", ".submenu", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Cancel", "edit_navigation", ".submenu", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Delete", "edit_navigation", ".submenu", class: "btn btn-default btn-danger-hover", style: "width: 33.3333%;"