.text-center.text-uppercase
  %h5 Link Settings
%div{style: "padding: 0 15px;"}
  .form-group
    = text_field_tag :page_title, "Link Text", class: "form-control"
  .form-group
    = text_field_tag :URL, "Link URL", class: "form-control"
  .checkbox
    %label
      = check_box_tag :new_tab
      Open in a New Tab
  .btn-group{style: "width: 100%;"}
    = prototype_partial_link "Save", "edit_navigation", "#sidebar", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Cancel", "edit_navigation", "#sidebar", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Delete", "edit_navigation", "#sidebar", class: "btn btn-default btn-danger-hover", style: "width: 33.3333%;"