.container
  %h2 Edit Your Profile
  %strong= resource.company.name
  %address
    = resource.company.address.address1
    %br
    - unless resource.company.address.address2.blank?
      = resource.company.address.address2
      %br
    = resource.company.address.city_state_zip

  %h3 Update Information
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, remote: true) do |f|
    = devise_error_messages!
    .form-group
      = f.label :name
      = f.text_field :name, :autofocus => true, class: "form-control"
    .form-group
      = f.label :email
      = f.email_field :email, class: "form-control"
    = f.submit "Update", class: "btn btn-primary"

  %h3 Change Password
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, remote: true) do |f|
    = devise_error_messages!
    .form-group
      = f.label :password, "New password"
      %i (leave blank if you don't want to change it)
      = f.password_field :password, :autocomplete => "off", class: "form-control"
    .form-group
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, class: "form-control"
    .form-group
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, class: "form-control"
    = f.submit "Update", class: "btn btn-primary"

  %h3 Unhappy?
  = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-xs"