.text-center.text-uppercase
  %h5= prototype_partial_link("Cancel", "property_nav", "#sidebar")
  %ul.nav.nav-pills.nav-stacked
    %li= link_to "Image"
    %li= link_to "Gallery"
    %li= link_to "HTML"
    %li= link_to "Map"