.text-center.text-uppercase
  %h5= prototype_partial_link(icon('long-arrow-left', 'Main Menu'), "property_nav", "#sidebar")
  %ul.nav.nav-pills.nav-stacked
    %li= link_to "Image", "#", class: "add-block"
    %li= link_to "Gallery", "#", class: "add-block"
    %li= link_to "HTML", "#", class: "add-block"
    %li= link_to "Map", "#", class: "add-block"