.text-uppercase
  = prototype_partial_link icon('long-arrow-left', 'Back'), "edit_navigation", "#sidebar", class: "nav-link"
%div{style: "padding: 0 15px;"}
  = link_to icon('cog'), prototype_page_path(page: "blogs::settings"), remote: true, class: "prototype-partial-link btn btn-sm btn-default pull-right", data: { target: "#sidebar" }
  %h4{style: "line-height: 30px;"} Posts
  .form-group
    = text_field_tag :search, "", class: "form-control search-input", placeholder: "Search Posts"
  %ul.nav.nav-pills.nav-justified{style: "margin-bottom: 15px;"}
    %li.active= link_to "All", "#all", data: { toggle: "tab" }
    %li= link_to "Drafts", "#drafts", data: { toggle: "tab" }
    %li= link_to "Published", "#published", data: { toggle: "tab" }
  %ul.nav.nav-pills.nav-stacked
    %li= prototype_partial_link icon("plus", "New Post"), 'website::new_blog_post', '#main', class: "text-uppercase", style: "border: 1px dashed #ddd; margin-bottom: 15px;"
  .tab-content
    .tab-pane.active#all
      .list-group
        - 3.times do
          = render 'prototypes/blogs/post', draft: true
        - 5.times do
          = render 'prototypes/blogs/post', draft: false
    .tab-pane#drafts
      .list-group
        - 3.times do
          = render 'prototypes/blogs/post', draft: true
    .tab-pane#published
      .list-group
        - 5.times do
          = render 'prototypes/blogs/post', draft: false