.text-uppercase
  %h5= prototype_partial_link icon('arrow-left', 'Back'), "edit_navigation", "#sidebar"
%div{style: "padding: 0 15px;"}
  = link_to icon('files-o'), prototype_page_path(page: "blogs::posts"), remote: true, class: "prototype-partial-link btn btn-sm btn-default pull-right", data: { target: "#sidebar" }
  %h4 Blog Settings
  .form-group
    = label_tag :page_title, "Title", class: "control-label"
    = text_field_tag :page_title, "Blog", class: "form-control"
  .form-group
    = label_tag :page_slug, "Slug", class: "control-label"
    = text_field_tag :page_slug, "blog", class: "form-control"
  .form-group
    = label_tag :page_seo_description, "SEO Description", class: "control-label"
    = text_area_tag :page_seo_description, "SEO Description", class: "form-control", rows: 5
  .checkbox
    %label
      = check_box_tag :visible
      Published
  .checkbox
    %label
      = check_box_tag :visible
      Visible to logged in users only
  %p
    = link_to icon("home", "Set as Homepage"), "#", class: "btn btn-default btn-xs"
  .btn-group{style: "width: 100%;"}
    = prototype_partial_link "Save", "edit_navigation", "#sidebar", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Cancel", "edit_navigation", "#sidebar", class: "btn btn-default", style: "width: 33.3333%;"
    = prototype_partial_link "Delete", "edit_navigation", "#sidebar", class: "btn btn-default btn-danger-hover", style: "width: 33.3333%;"