%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      - if current_page?(admin_root_url)
        = link_to current_company.name, "", class: "navbar-brand", onclick: "event.preventDefault();"
      - elsif !admin_user_signed_in?
        = link_to current_company.name, company_root_url, class: "navbar-brand"
      - else
        = link_to current_company.name, admin_root_url, class: "navbar-brand"
      %button.navbar-toggle{ data: { toggle: "collapse", target: "#navbar-collapse"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if admin_user_signed_in?
          = nav_link_to "Dashboard", admin_root_path
          = nav_link_to "Edit Profile", edit_admin_user_registration_path
          = nav_link_to "Edit Company", edit_admin_company_path
          %li= link_to "Sign Out", destroy_admin_user_session_path, method: :delete
        - else
          = nav_link_to "Sign In", new_admin_user_session_path