.text-uppercase
  = prototype_partial_link(icon('long-arrow-left', 'Back'), "website_submenu", ".submenu", class: "nav-link")
  .nav-heading-wrapper
    %h4.nav-heading 
      Main Navigation
      = link_to icon("plus"), "#new-link-type", data: { toggle: "collapse" }, class: "pull-right btn btn-default btn-xs"
  #new-link
    = render 'prototypes/website/new_link_menu'
  %ul.nav.nav-pills.nav-stacked
    %li.relative
      = prototype_partial_link("Home", "website::home", "#main")
      = link_to icon("cog"), prototype_page_path(page: "pages::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }
    %li
      = prototype_partial_link("Photos", "website::photos", "#main")
      = link_to icon("cog"), prototype_page_path(page: "pages::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }
    %li
      = prototype_partial_link("Building", "website::building", "#main")
      = link_to icon("cog"), prototype_page_path(page: "pages::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }
    %li
      = prototype_partial_link("Local Info", "website::local_info", "#main")
      = link_to icon("cog"), prototype_page_path(page: "pages::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }
    %li
      = prototype_partial_link("Blog", "website::blog", "#main")
      = link_to icon("files-o"), prototype_page_path(page: "blogs::posts"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }, style: "right: 47px;"
      = link_to icon("cog"), prototype_page_path(page: "blogs::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }
    %li
      = prototype_partial_link("Contact", "website::contact", "#main")
      = link_to icon("cog"), prototype_page_path(page: "links::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".submenu" }