.form-header
  .pull-left
    = link_to "New", "#", class: "btn btn-success no-radius", style: "margin-right: 10px;"
    Assigned to 
    %strong Unassigned 
    %span.caret
  .pull-right
    = link_to "Cancel", "#", class: "btn btn-link cancel"
.form-container
  .scrollable
    .pad-20.grey  
      .form-group{style: "margin: 0;"}
        = text_field_tag :subject, "", placeholder: "Subject", autofocus: true, class: "form-control", style: "font-weight: 400; font-size: 20px; padding: 22px 12px;"
    .pad-20
      .form-group
        = text_field_tag :property, "", placeholder: "Property", class: "form-control"
      .form-group
        = text_field_tag :client, "", placeholder: "Resident", class: "form-control"
      .checkbox
        %label
          %input{type: "checkbox"}
          Make this issue visible to all property owners & residents
      .form-group
        = text_area_tag :notes, "", placeholder: "Notes (this will not be sent to the resident you entered above)", rows: 10, class: "form-control"
      = link_to "Create Issue", "#", class: "btn btn-primary cancel"