.text-center.text-uppercase
  %h5= prototype_partial_link("Clarendon Hill", "properties_nav", "#sidebar")
  %ul.nav.nav-pills.nav-stacked
    %li= link_to "Issues", prototype_page_path(page: "issues")
    %li= link_to "News", prototype_page_path(page: "news")
    %li= link_to "Documents", prototype_page_path(page: "documents")
    %li= link_to "People", prototype_page_path(page: "people")
    %li= prototype_partial_link("Website", "website_iframe", "#main")
    %li= prototype_partial_link("Settings", "settings_nav", "#sidebar")