.text-center.text-uppercase
  %h4.nav-heading{style: "padding: 0 15px;"}
    Company
    = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
  %ul.nav.nav-pills.nav-stacked{style: "margin-bottom: 40px;"}
    %li= prototype_partial_link("The Hofeller Company", "property_nav", "#sidebar")
    %li= prototype_partial_link("Complete Property Care", "property_nav", "#sidebar")
  %h4.nav-heading{style: "padding: 0 15px;"}
    Properties
    = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
  %ul.nav.nav-pills.nav-stacked{style: "margin-bottom: 90px;"}
    %li= prototype_partial_link("1409 River St.", "property_nav", "#sidebar")
    %li= prototype_partial_link("197-205 Kent", "property_nav", "#sidebar")
    %li= prototype_partial_link("Cambridge Co-Housing", "property_nav", "#sidebar")
    %li= prototype_partial_link("Clarendon Hill", "property_nav", "#sidebar")
    %li= prototype_partial_link("Cliffmont", "property_nav", "#sidebar")
    %li= prototype_partial_link("Court Condominium IV", "property_nav", "#sidebar")
    %li= prototype_partial_link("Covenant Residences", "property_nav", "#sidebar")
    %li= prototype_partial_link("Davenport Commons", "property_nav", "#sidebar")
    %li= prototype_partial_link("Jamaica Pond Estate", "property_nav", "#sidebar")
    %li= prototype_partial_link("Lawrence Manor", "property_nav", "#sidebar")
    %li= prototype_partial_link("Old Medford High", "property_nav", "#sidebar")
    %li= prototype_partial_link("Parsons Field", "property_nav", "#sidebar")
    %li= prototype_partial_link("St. Paul Arms", "property_nav", "#sidebar")
    %li= prototype_partial_link("Strathwick", "property_nav", "#sidebar")
    %li= prototype_partial_link("The Montclair", "property_nav", "#sidebar")
    %li= prototype_partial_link("The Ripley", "property_nav", "#sidebar")
    %li= prototype_partial_link("Town Lyne", "property_nav", "#sidebar")
    %li= prototype_partial_link("Washington Square", "property_nav", "#sidebar")
    %li= prototype_partial_link("Willow House", "property_nav", "#sidebar")