.tab-pane#res-issues
  .container
    .header{style: "padding: 20px 0;"}
      %h3.pull-left.no-margin Your Reported Issues
      = link_to raw("<i class='glyphicon glyphicon-plus-sign'></i> Report an Issue"), 
                    "#", class: "btn btn-success pull-right", id: "new-issue-btn",
                    data: { toggle: "collapse", target: "#new-issue" }
      .clearfix
    .well.collapse#new-issue
      %h4 Report an Issue
      .form-group
        %label What do you need assistance with?
        %input.form-control{type: "text"}
      .form-group
        %label Please provide any additional details
        %textarea.form-control{rows: 5}
      = link_to "Submit Issue", "#", class: "btn btn-primary", data: { toggle: "collapse", target: "#new-issue" }
      = link_to "Cancel", "#", class: "btn btn-default", data: { toggle: "collapse", target: "#new-issue" }

    .res-content-pane
      .item-area
        %form.search-form
          .form-group
            = text_field_tag :search, "", class: "form-control search-field", 
              placeholder: "Search"
        .item-list

          - issues = ["Paint Stairway", "Fix Rear Windows", "Hallway Lights", "Patio Stones Broken", 
                      "Outdoor Lighting", "Lobby Furniture Cleaning", "Fireplace Service", 
                      "Broken Deck Furniture", "Mulching", "Skylight Cleaning", "Stairway Railing"]
          - details = ["The stairway drywall needs repainting.", 
                       "The windows at the back of McGill Hall...",
                       "The second floor light is out.",
                       "Several stones on The walkway leading into...",
                       "We received a quote for new outdoor lighting...",
                       "The lobby furniture needs its quaterly...",
                       "Fireplace needs to be serviced",
                       "Some of the deck furniture needs to be...",
                       "The mulch in the flower beds could use...",
                       "The skylight in Faber Hall is rather...",
                       "The hand-rail in the West stairway is..."]
          - (0..3).each do |n|
            .item.res-issue
              .left-side
                %strong.title
                  = issues[n]
                .preview.line-1
                  = details[n]
                .muted.lighter
                  - timestamp = Time.now - 2*n*60*60*24
                  = timestamp.strftime("%m/%d/%Y") 
              .right-side
                .btn.btn-info.no-radius{style: "width: 100px;"} In progress
              .clearfix
          - (4..8).each do |n|
            .item.res-issue
              .left-side
                %strong.title
                  = issues[n]
                .preview.line-1 
                  = details[n]
                .muted.lighter
                  - timestamp = Time.now - 2*n*60*60*24
                  = timestamp.strftime("%m/%d/%Y") 
              .right-side
                .btn.btn-success.no-radius.pull-right{style: "width: 100px;"} Resolved
              .clearfix

        .item-details-area
          .item-details
          #empty-message
            %i.glyphicon.glyphicon-tag{style: "font-size: 100px; opacity: 0.3;"}
            %br
            %p{style: "font-size: 30px; font-weight: 500; opacity: 0.3;"} No Issue Selected
          
          / %p= link_to "New Issue", "#", class: "btn btn-primary add-item"

  #show-issue{style: "display: none;"}
    = render "res_issue"

