.text-uppercase{style: 'position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #ccc; padding-top: 40px;'}
  = prototype_partial_link(icon('home', 'Clarendon Hill'), "properties_nav", "#sidebar", class: "nav-link")
  %ul.nav.nav-pills.nav-stacked.icon-margin
    %li= link_to icon("tag", "Issues"), prototype_page_path(page: "issues")
    %li= link_to icon("comment", "News"), prototype_page_path(page: "news")
    %li= link_to icon("copy", "Documents"), prototype_page_path(page: "documents")
    %li= link_to icon("users", "People"), prototype_page_path(page: "people")
    %li= link_to icon("globe", "Website"), prototype_page_path(page: "site")
    %li.active= prototype_partial_link(icon("cog", "Settings"), "settings_nav", "#sidebar")
.submenu.text-uppercase
  %ul.nav.nav-pills.nav-stacked{style: "padding-top: 68px;"}
    %li= prototype_partial_link "Property Settings", "settings::property", ".submenu"
    %li= prototype_partial_link "Company Info", "settings::company", ".submenu"
    %li= prototype_partial_link "Billing Info", "settings::billing", ".submenu"
    %li= prototype_partial_link "My Account", "settings::account", ".submenu"