.text-center.text-uppercase
  = prototype_partial_link(icon('long-arrow-left', 'Main Menu'), "property_nav", "#sidebar", class: "nav-link")
  %ul.nav.nav-pills.nav-stacked
    %li= prototype_partial_link "Property Settings", "settings::property", "#sidebar"
    %li= prototype_partial_link "Website Settings", "settings::website", "#sidebar"
    %li= prototype_partial_link "Website Theme", "settings::theme", "#sidebar"
    %li= prototype_partial_link "Company Info", "settings::company", "#sidebar"
    %li= prototype_partial_link "Billing Info", "settings::billing", "#sidebar"
    %li= prototype_partial_link "My Account", "settings::account", "#sidebar"