.text-center.text-uppercase
  %h5= prototype_partial_link("Main Menu", "property_nav", "#sidebar")
  %ul.nav.nav-pills.nav-stacked
    %li= link_to "Property Settings"
    %li= link_to "Website Settings"
    %li= link_to "Website Theme"
    %li= link_to "Company Info"
    %li= link_to "Billing Info"
    %li= link_to "My Account"