%nav.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} The Hofeller Company
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav#main-nav
      / %li
      /   %a{href: "#"} Activity
      %li.active
        %a{href: "#", data: { "button-text" => "Issue", "panel-div" => "-issue" } } 
          Issues
          %span.badge.badge-danger= @issues
      %li
        %a{href: "#", data: { "button-text" => "News Post", "panel-div" => "-news-post" } } News
      %li
        %a{href: "#", data: { "button-text" => "Document", "panel-div" => "-document" } } Documents
      %li
        %a{href: "#", data: { "button-text" => "User", "panel-div" => "-user" } } Users
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle#user-name{"data-toggle" => "dropdown", href: "#" }
          Ed Hofeller
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Settings
          %li.divider
          %li
            %a{href: "#"} Sign Out
  / /.navbar-collapse

%section#console
  %nav#nav
    %form.nav-search-form.form-inline
      .form-group
        = text_field_tag :search, "", class: "form-control search-field", placeholder: "Filter Properties"
      = link_to raw("<i class='glyphicon glyphicon-plus'></i>"), "#", class: "btn btn-default circle", id: "new-property"
      %ul
        %li.active= link_to "All Properties", "#", data: { listfilter: "all" }
    .nav-search-results
      .scrollable
        %ul
          - (1..40).each do |n|
            %li= link_to raw("Property #{n} <button class='btn btn-default btn-xs pull-right circle property-settings'><i class='glyphicon glyphicon-cog'></i></button>"), "#", data: { listfilter: "property" }
  .issues.content-pane.content-wrapper{ data: { listfilter: "all" } }
    .console-search
      %form.console-search-form
        .form-group
          = text_field_tag :search, "", class: "form-control search-field", placeholder: "Search"
        = link_to raw("<i class='glyphicon glyphicon-filter'></i>"), "#", class: "btn btn-default", id: "filter-items"
        = link_to raw("<i class='glyphicon glyphicon-plus'></i>"), "#", class: "btn btn-default", id: "add-item", data: { "new-div" => "#new-issue" }
      %section.console-search-results
        .scrollable
          #doc-filters
            .header Filter by Type
            %ul
              %li
                %a{href: "#"}
                  %i.glyphicon.glyphicon-list-alt{style: "color: #009628; margin-right: 5px;"}
                  Spreadsheet
              %li
                %a{href: "#"}
                  %i.glyphicon.glyphicon-file{style: "color: #0095DE; margin-right: 5px;"}
                  Document
              %li
                %a{href: "#"}
                  %i.glyphicon.glyphicon-file{style: "color: #C60000; margin-right: 5px;"}
                  PDF
              %li
                %a{href: "#"}
                  %i.glyphicon.glyphicon-file{style: "color: #D04424; margin-right: 5px;"}
                  Presentation
              %li
                %a{href: "#"}
                  %i.glyphicon.glyphicon-picture{style: "color: grey; margin-right: 5px;"}
                  Image
            .header{style: "border-top: none;"} Filter by Category
            .categories
              .label.label-info Category 1
              .label.label-success Category 2
              .label.label-danger Category 3
              .label.label-warning Category 4
          - (1..@issues).each do |n|
            .issue.console-search-result-item{class: ("all" if n <= @issues - 5) }
              .subject.preview.line-1
                Issue Subject
              .date.muted.lighter
                Date
              .preview.line-1
                Preview of message content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .property.label.label-info 
                Property

          - (1..6).each do |n|
            .news-post.console-search-result-item{class: ("all" if n <= 3) }
              .subject.preview.line-1
                News Title
              .date.muted.lighter
                Date
              .preview.line-2
                Preview of news post content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          - (1..4).each do |n|
            .user.console-search-result-item{class: ("all" if n <= 2) }
              .pull-left
                = image_tag "http://placehold.it/60x60", class: "img-circle"
              %strong.name.preview.line-1
                User Name
              .preview.line-1
                = link_to "email@example.com", "mailto:email@example.com"
              .phone
                555-555-5555
              .role.label.label-success
                Manager
          - (1..8).each do |n|
            .user.console-search-result-item{class: ("all" if n <= 6) }
              .pull-left
                = image_tag "http://placehold.it/60x60", class: "img-circle"
              %strong.name.preview.line-1
                User Name
              .preview.line-1
                = link_to "email@example.com", "mailto:email@example.com"
              .phone
                555-555-5555
              .role.label.label-info
                Resident

    .console-viewport
      .console-viewport-container
        .action-pane-container
          .action-pane
            / %p= link_to "New Issue", "#", class: "btn btn-primary add-item"

    #new-issue{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 New Issue
          = link_to "Create", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #new-news-post{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 New News Post
          = link_to "Create", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #new-document{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 New Document
          = link_to "Create", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #new-user{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 New User
          = link_to "Create", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"

    #edit-issue{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 Edit Issue
          = link_to "Update", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #edit-news-post{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 Edit News Post
          = link_to "Update", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #edit-document{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 Edit Document
          = link_to "Update", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"
    #edit-user{style: "display: none;"}
      .scrollable
        .pad-20
          %h3.mt-0 Edit User
          = link_to "Update", "#", class: "btn btn-primary cancel"
          = link_to "Cancel", "#", class: "btn btn-default cancel"

    #empty-issue{style: "display: none;"}
      .console-viewport-container
        .action-pane-container
          .action-pane
            / %p= link_to "New Issue", "#", class: "btn btn-primary add-item"
    #empty-news-post{style: "display: none;"}
      .console-viewport-container
        .action-pane-container
          .action-pane
            / %p= link_to "New News Post", "#", class: "btn btn-primary add-item"
    #empty-document{style: "display: none;"}
      .docs-search-form
        %form.docs-search-form
          .form-group#search-field
            = text_field_tag :search, "", class: "form-control search-field", placeholder: "Search"
          = link_to raw("<i class='glyphicon glyphicon-sort'></i>"), "#", class: "btn btn-default", id: "sort-docs"
          = link_to raw("<i class='glyphicon glyphicon-plus'></i>"), "#", class: "btn btn-default", id: "add-doc"
          #new-doc-panel
            .pad-20
              %h4 New Document
              .form-group
                = text_field_tag :title, "", class: "form-control", placeholder: "Title"
              .form-group
                = text_field_tag :description, "", class: "form-control", placeholder: "Short Description"
              .form-group
                = file_field_tag :file
              = link_to "Upload", "#", class: "btn btn-primary", id: "submit-add-doc"
              = link_to "Cancel", "#", class: "btn btn-default", id: "cancel-add-doc"
      #list-docs
        .scrollable
          - (1..24).each do |n|
            - if n > 18
              - label_class = 'label-warning'
              - category = 4
            - elsif n > 12
              - label_class = 'label-danger'
              - category = 3
            - elsif n > 6
              - label_class = 'label-success'
              - category = 2
            - else
              - label_class = 'label-info'
              - category = 1
            .doc.console-search-result-item{class: ("all" if n >= 6), data: { filtercategory: "category#{category}" } }
              .pull-left
                .pull-left
                  = image_tag "http://placehold.it/50x60"
                %strong.title.preview.line-1.mt-0
                  Document Title
                .preview.line-1
                  Document description text
                
                .label{class: label_class}
                  Category #{category}
              .pull-right.actions
                = link_to raw("<i class='glyphicon glyphicon-cloud-download'></i>"), "#", class: 'btn btn-default'
                = link_to raw("<i class='glyphicon glyphicon-trash'></i>"), "#", class: 'btn btn-default'
              .clearfix
    #empty-user{style: "display: none;"}
      .console-viewport-container
        .action-pane-container
          .action-pane
            / %p= link_to "New User", "#", class: "btn btn-primary add-item"