#sidebar
  = render "property_nav"
#main
  #left.pull-left
    .scroll-panel
      .scroll-panel-header
        .row
          .col-xs-10
            = text_field_tag :search, "", class: "form-control search-input", placeholder: "Filter Issues"
          .col-xs-2
            = prototype_partial_link("<i class='glyphicon glyphicon-plus'></i>".html_safe, "issues::new", "#right", class: "btn btn-default pull-right")
      .scroll-panel-body.no-padding
        %div{style: "border-bottom: 1px solid #f1f1f1;"}
          .row.text-center
            .col-md-4
              .issue-tab.selected
                = link_to "" do
                  .count 7
                  All
            .col-md-4
              .issue-tab
                = link_to "" do
                  .count 7
                  Unassigned
            .col-md-4
              .issue-tab
                = link_to "" do
                  .count 0
                  Mine
        .list-group
          - 7.times do
            = render 'prototypes/issues/issue'
  #right.pull-left
    = render 'prototypes/issues/no_content'