#sidebar
  = render "property_nav"
#main
  #left.pull-left
    .well.no-margin
      .row
        .col-xs-9
          = text_field_tag :search, "", class: "form-control search-field", placeholder: "Filter News"
        .col-xs-3
          = prototype_partial_link("<i class='glyphicon glyphicon-plus'></i>".html_safe, "news::new", "#right", class: "btn btn-default pull-right")
    .list-group
      - 7.times do
        = render 'prototypes/news/news'
  #right.pull-left
    = render 'prototypes/news/no_content'