#sidebar{style: "background: #f2f2f2;"}
  = render "prototypes/people/nav"
#main
  #left.pull-left
    .scroll-panel
      .scroll-panel-header
        .row
          .col-xs-10
            = text_field_tag :search, "", class: "form-control search-input", placeholder: "Filter Users"
          .col-xs-2
            = prototype_partial_link("<i class='glyphicon glyphicon-plus'></i>".html_safe, "people::new", "#right", class: "btn btn-default pull-right")
      .scroll-panel-body.no-padding
        .list-group
          - 3.times do
            = render 'prototypes/people/person', role: "Manager"
          - 5.times do
            = render 'prototypes/people/person', role: "Resident"
  #right.pull-left
    = render 'prototypes/people/no_content'