%nav.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Clarendon Hill
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "News", "#res-news", data: { toggle: "tab", "panel-div"=>"news" }
          / ", data: { "button-text" => "News Post", "panel-div" => "-news-post" } } News
        / %li.active
        /   = link_to "Dashboard", "#res-dashboard", data: { toggle: "tab" }
        %li
          %a{href: "#res-issues", data: { toggle: "tab", "panel-div"=>"issue" } }
            Issues
            %span.badge.badge-danger= 3
        %li
          = link_to "Documents", "#res-documents", data: { toggle: "tab", "panel-div"=>"documents" }
          / %a{href: "#", data: { "button-text" => "Document", "panel-div" => "-document" } } Documents
        %li
          = link_to "Directory", "#res-directory", data: { toggle: "tab" }
          / %a{href: "#", data: { "button-text" => "User", "panel-div" => "-user" } } Directory
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle#user-name{"data-toggle" => "dropdown", href: "#" }
            Bob Resident
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} Settings
            %li= link_to "Manager View", prototype_path
            %li.divider
            %li
              %a{href: "#"} Sign Out

.tab-content{style: "margin-top: 50px;"}
  = render 'res_issues_pane'

  / = render 'res_dashboard_pane'

  = render 'res_news_pane'

  = render 'res_documents_pane'

  = render 'res_directory_pane'