%h4.nav-heading{style: "padding: 0 15px;"}
  Company
  = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
%ul.nav.nav-pills.nav-stacked{style: "margin-bottom: 40px;"}
  %li= prototype_partial_link("The Hofeller Company", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Complete Property Care", "navigation::main", ".sidebar-nav__panel-primary")
%h4.nav-heading{style: "padding: 0 15px;"}
  Properties
  = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
%ul.nav.nav-pills.nav-stacked
  %li= prototype_partial_link("1409 River St.", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("197-205 Kent", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Cambridge Co-Housing", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Clarendon Hill", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Cliffmont", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Court Condominium IV", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Covenant Residences", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Davenport Commons", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Jamaica Pond Estate", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Lawrence Manor", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Old Medford High", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Parsons Field", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("St. Paul Arms", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Strathwick", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("The Montclair", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("The Ripley", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Town Lyne", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Washington Square", "navigation::main", ".sidebar-nav__panel-primary")
  %li= prototype_partial_link("Willow House", "navigation::main", ".sidebar-nav__panel-primary")