%h4.nav-heading{style: "padding: 0 15px;"}
  Company
  = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
%ul.nav.nav-pills.nav-stacked{style: "margin-bottom: 40px;"}
  %li= link_to "The Hofeller Company", '#', class: "properties-nav-link"
  %li= link_to "Complete Property Care", '#', class: "properties-nav-link"
%h4.nav-heading{style: "padding: 0 15px;"}
  Properties
  = link_to icon("plus"), "#", class: "btn btn-xs btn-default pull-right"
%ul.nav.nav-pills.nav-stacked
  %li= link_to "1409 River St.", "#", class: "properties-nav-link"
  %li= link_to "197-205 Kent", "#", class: "properties-nav-link"
  %li= link_to "Cambridge Co-Housing", "#", class: "properties-nav-link"
  %li= link_to "Clarendon Hill", "#", class: "properties-nav-link"
  %li= link_to "Cliffmont", "#", class: "properties-nav-link"
  %li= link_to "Court Condominium IV", "#", class: "properties-nav-link"
  %li= link_to "Covenant Residences", "#", class: "properties-nav-link"
  %li= link_to "Davenport Commons", "#", class: "properties-nav-link"
  %li= link_to "Jamaica Pond Estate", "#", class: "properties-nav-link"
  %li= link_to "Lawrence Manor", "#", class: "properties-nav-link"
  %li= link_to "Old Medford High", "#", class: "properties-nav-link"
  %li= link_to "Parsons Field", "#", class: "properties-nav-link"
  %li= link_to "St. Paul Arms", "#", class: "properties-nav-link"
  %li= link_to "Strathwick", "#", class: "properties-nav-link"
  %li= link_to "The Montclair", "#", class: "properties-nav-link"
  %li= link_to "The Ripley", "#", class: "properties-nav-link"
  %li= link_to "Town Lyne", "#", class: "properties-nav-link"
  %li= link_to "Washington Square", "#", class: "properties-nav-link"
  %li= link_to "Willow House", "#", class: "properties-nav-link"