- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

- content_for :scripts do
  = javascript_include_tag "https://js.stripe.com/v1/"

%h2 Sign Up

= simple_form_for(@user, as: resource_name, url: registration_path(resource_name), html: { class: "card-form" }) do |f|
  = f.input :name, :required => true, :autofocus => true
  = f.input :email, :required => true
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true

  %h3 Company Info
  = f.simple_fields_for :owned_company do |cf|
    = cf.input :name
    = cf.simple_fields_for :subdomain do |sf|
      = sf.input :name, label: "Subdomain"
    = cf.input :phone
    = cf.input :website
    = cf.simple_fields_for :address do |af|
      = render "addresses/address_fields", f: af
    = cf.simple_fields_for :subscription do |sf|
      = sf.input :name, as: :hidden
      = sf.input :email, as: :hidden
      = sf.input :stripe_card_token, as: :hidden
      = sf.association :plan, label_method: :titleized_name, include_blank: false

  %h3 Billing Info
  %p You are signing up for the #{@user.owned_company.subscription.plan.name} billing plan for #{number_to_currency @user.owned_company.subscription.plan.amount} / month per property billed once per #{@user.owned_company.subscription.plan.interval}.  All plans include a 30 day free trial and your card will not be charged until the end of your trial.
  .well 
    #stripe_error
      %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
    - if @user.owned_company.subscription.stripe_card_token.present?
      Credit card has been provided.
    - else
      .form-group
        = label_tag :card_number, "Credit Card Number"
        = text_field_tag :card_number, nil, name: nil, class: "form-control"
      .row
        .col-sm-6
          .form-group
            = label_tag :card_code, "Security Code on Card (CVV)"
            = text_field_tag :card_code, nil, name: nil
        .col-sm-6
          .form-group
            = label_tag :card_month, "Card Expiration"
            = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
            = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}

  = f.button :submit, "Sign up", class: "btn btn-primary"