.pad{style: "background: #f9f9f9;"}
  .form-group= text_field_tag :title, "", placeholder: "Title", class: "form-control"
  .form-group= text_field_tag :description, "", placeholder: "Description", class: "form-control"
  .pull-left
    = file_field_tag :attachment
  .pull-right
    = prototype_partial_link "Cancel", "documents::index", "#main", class: "btn btn-link"
    = prototype_partial_link "Save", "documents::index", "#main", class: "btn btn-primary"
  .clearfix