= link_to "Add Content", "#blocks-modal", class: "btn btn-pill btn-inverse btn-add-content", data: { toggle: "modal" }

.modal#blocks-modal
  .modal-dialog{style: "position: absolute; bottom: 40px; right: 135px;"}
    .modal-content{style: "border-radius: 0;"}
      .modal-body{style: "padding: 0;"}
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "image"
          %p Image
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "camera"
          %p Gallery
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "film"
          %p Video
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "file-o"
          %p File
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "font"
          %p Text
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "code"
          %p HTML
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "pencil"
          %p Form
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "arrows-v"
          %p Spacer
        = link_to "#", class: "btn-icon-block btn-icon-block-4 add-block" do
          = icon "map-marker"
          %p Map
        .clearfix