.navbar.navbar-inverse.navbar-static-top{style: "margin: 0;"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#", style: "color: #fff;"} Clarendon Hill
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li= prototype_partial_link("Home", "website::home", "#main")
        %li= prototype_partial_link("Photos", "website::photos", "#main")
        %li= prototype_partial_link("Building", "website::building", "#main")
        %li= prototype_partial_link("Local Info", "website::local_info", "#main")
        %li= prototype_partial_link("Blog", "website::blog", "#main")
        %li= prototype_partial_link("Contact", "website::contact", "#main")
        %li= prototype_partial_link(icon("pencil"), "navigation::edit_nav", ".sidebar-nav__panel-secondary", class: "show-menu")