= render layout: 'prototypes/website/page' do
  .container
    .row
      .col-md-3
        = image_tag "http://placehold.it/300x250", class: "img-responsive"
      .col-md-3
        = image_tag "http://placehold.it/300x250", class: "img-responsive"
      .col-md-3
        = image_tag "http://placehold.it/300x250", class: "img-responsive"
      .col-md-3
        = image_tag "http://placehold.it/300x250", class: "img-responsive"