.well{style: "padding-bottom: 10px;"}
  - if @subscription.last_4_digits.nil?
    %p No card on file
  - else
    %p Using card **** **** **** #{@subscription.last_4_digits}
    %p Plan: #{@subscription.plan.name.titleize} billing at #{number_to_currency @subscription.plan.amount.to_f} a month per property
    %p Number of Properties: #{@subscription.quantity}
    %p Monthly Total: #{number_to_currency (@subscription.quantity * @subscription.plan.amount).to_f}
    / %p Status: #{@stripe.subscription.status == "trialing" ? "Trial" : @stripe.subscription.status.humanize}
    / - if @stripe.subscription.status == "trialing"
    /   %p Trial Ends: #{Time.at(@stripe.subscription.trial_end).to_datetime.strftime("%b %d, %Y")}