- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

- content_for :scripts do
  = javascript_include_tag "https://js.stripe.com/v1/"

.container
  .row.mt30
    .col-sm-3
      %ul.stacked-tabs
        %li.active= link_to "Edit Profile", '#profile', data: { toggle: 'tab' }
        %li= link_to "Change Password", '#password', data: { toggle: 'tab' }
        %li= link_to "Edit Company", '#company', data: { toggle: 'tab' }
        %li= link_to "Edit Subscription", '#subscription', data: { toggle: 'tab' }
        %li= link_to "Update Credit Card", '#card', data: { toggle: 'tab' }
    .col-sm-9
      .tab-content
        .tab-pane.active#profile
          %h2.mt0 Edit Profile
          = render 'success'
          #profile_form
            = render 'profile_form'  

          %h4.mt30 Unhappy?
          %p= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

        .tab-pane#password
          %h2.mt0 Change Password
          = render 'success'
          #password_form
            = render 'password_form'

        .tab-pane#company
          %h2.mt0 Edit Company
          = render 'success'
          #company_form
            = render 'company_form'

        .tab-pane#subscription
          %h2.mt0 Edit Subscription
          = render 'success'
          #subscription_form
            = render 'subscription_form'
          %h3.mt30{style: "font-weight: 100;"} Billing Details
          #billing_details
            = render 'admin/registrations/billing_details'
          / - unless @charges.nil?
          /   .row
          /     .col-xs-12
          /       %h3{style: "margin-top: 0; font-weight: 100;"} Payment History
          /       - if @charges.count == 0
          /         .well No Payments
          /       - else
          /         %table#payments.table.table-condensed
          /           - @charges.each do |charge|
          /             %tr
          /               %td= image_tag "cards/#{charge.card.type}.png"
          /               %td= Time.at(charge.created).to_datetime.strftime("%b %d, %Y")
          /               %td= number_to_currency(charge.amount.to_f/100)

        .tab-pane#card
          %h2.mt0 Update Credit Card
          = render 'success'
          #card_form
            = render 'card_form'