.scroll-panel
  .scroll-panel-header
    .row
      .col-xs-6
        %h4 
          John Doe
      .col-xs-6
        .pull-right
          = link_to "Cancel", prototype_page_path(page: "people::no_content"), remote: true, class: "prototype-partial-link btn btn-link", data: { target: "#right" }
          = link_to "Save", prototype_page_path(page: "people::no_content"), remote: true, class: "prototype-partial-link btn btn-primary", data: { target: "#right" }
  .scroll-panel-body.no-padding
    .pad
      %ul.nav.nav-tabs
        %li.active= link_to "Basic Info", "#info-tab", data: { toggle: "tab" }
        %li= link_to "Permissions", '#permissions-tab', data: { toggle: "tab" }
        %li= link_to "Memberships", "#memberships-tab", data: { toggle: "tab" }
        %li= link_to "Activity", "#activity-tab", data: { toggle: "tab" }
      .tab-content
        :css
          .tab-pane {
            padding: 20px;
          }
        .tab-pane.active#info-tab
          .form-group
            = text_field_tag :subject, "John Doe", class: 'form-control', placeholder: "Full Name", autofocus: true
          .form-group
            = text_field_tag :email, "jdoe@example.com", class: 'form-control', placeholder: "Email"
          .form-group
            = text_field_tag :phone, "555-555-5555", class: 'form-control', placeholder: "Phone number"
        .tab-pane#permissions-tab
          .checkbox
            %label
              = check_box_tag :manage_company, "", checked: true
              Can this user manage company info?
          .checkbox
            %label
              = check_box_tag :manage_billing, "", checked: true
              Can this user manage billing info?
          .checkbox
            %label
              = check_box_tag :assign_issues, "", checked: true
              Can this user assign issues to other managers?
        .tab-pane#memberships-tab
          .row
            .col-xs-6
              .form-group
                = select_tag :property, options_for_select(["Clarendon Hill"], "Clarendon Hill"), class: "form-control"
            .col-xs-6
              .form-group
                = select_tag :property, options_for_select(["Manager", "Trustee", "Owner", "Resident"], "Manager"), class: "form-control"
        .tab-pane#activity-tab
          .well
            %p.no-margin Added a note to the issue #{link_to 'Hallway lights are out', prototype_page_path('issues')} 2 days ago