.pad{style: "background: #f9f9f9;"}
  .form-group= text_field_tag :title, "", placeholder: "Title", class: "form-control"
  .row
    .col-sm-6
      .form-group= text_field_tag :properties, "", placeholder: "Properties", class: "form-control"
    .col-sm-6
      .form-group= text_field_tag :permissions, "", placeholder: "Roles", class: "form-control"
  .pull-right
    = prototype_partial_link "Cancel", "documents::index", "#main", class: "btn btn-link"
    = prototype_partial_link "Save", "documents::index", "#main", class: "btn btn-primary"
  .clearfix